/* TODO: Find a nice, handwriting-styled font for the nav bar. */
/*
    Do not change height, margins, or padding for nav, div#content-container,
    or footer. It will make the site not fit the the screen. Use margins for
    the elements inside them instead.
*/

:root{
    /* Use color variables instead of using actual values in rules. */

    /* 
        These are by no means final. I chose these colors because they're easy
        to differentiate while building. We might end up not using all of them.
    */

    --content-bg-color: white;
    --content-fg-color: black;
    --content-accent-color: red;
    --content-highlight-color: pink;
    --nav-bg-color: black;
    --nav-fg-color: white;
    --nav-accent-color: green;
    --nav-highlight-color: blue;
    --footer-bg-color: grey;
    --footer-fg-color: white;
    --footer-accent-color: green;
    --footer-highlight-color: black;
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    background-color: var(--content-bg-color);
    color: var(--content-fg-color);
    font-family: sans-serif;
    height: 100%;
}

nav{
    background-color: var(--nav-bg-color);
    background-opacity: 50%;
    text-align: center;
    color: var(--nav-fg-color);
    min-height: 10%;
}

nav h3{
    float:left;
    display: inline-block;
    width: 20%;
    margin: 1.5%;
}

nav a{
    text-decoration: none;
    color: var(--nav-accent-color);
    display: inline-block;
    border: solid 1px var(--nav-accent-color);
    border-radius: 10%;
    padding: 1%;
}

nav a:hover{
    color: var(--nav-highlight-color);
    background-color: var(--nav-accent-color);
    border-color: var(--nav-accent-color);
}

div#content-container{
    min-height: 80%;
}

div#content{
    padding: 1%;
}

footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-fg-color);
    height: 10%;
}

footer a{
    text-decoration: none;
    color: var(--footer-highlight-color);
}

footer a:hover{
    color: var(--footer-accent-color);
}
