/* TODO: Find a nice, handwriting-styled font for the nav bar. */
/*
    Do not change height, margins, or padding for div#nav-container,
    div#content-container, or div#footer-container. It will make the site not
    fit the the screen. Use margins for the elements inside them instead.
*/

:root{
    /* Use color variables instead of using actual values in rules. */

    /*
        These are by no means final. I chose these colors because they're easy
        to differentiate while building. We might end up not using all of them.
    */

    --content-bg-color: white;
    --content-fg-color: #9E9E9E;
    --content-accent-color: black;
    --content-highlight-color: #A8DC3F;
    --nav-bg-color: black;
    --nav-fg-color: white; /* not actually used */
    --nav-accent-color: #A8DC3F;
    --nav-highlight-color: white;
    --footer-bg-color: #1C1C1C;
    --footer-fg-color: #9E9E9E;
    --footer-accent-color: #A8DC3F;
    --footer-highlight-color: white;
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    background-color: var(--content-bg-color);
    color: var(--content-fg-color);
    font-family: sans-serif;
    height: 100%;
}

h3, h4{
    color: var(--content-accent-color);
}

p{
    margin: 1% 0%;
}

div#nav-container{
    background-color: var(--nav-bg-color);
    background-opacity: 50%;
    color: var(--nav-fg-color);
    min-height: 10%;
}

nav{
    text-align: right;
}

nav h3{
    float:left;
    display: inline-block;
    text-align: left;
    width: 20%;
    margin: 1.5%;
    color: var(--nav-accent-color);
}

nav a{
    text-decoration: none;
    color: var(--nav-highlight-color);
    display: inline-block;
    border: solid 1px var(--nav-bg-color);
    border-radius: 10%;
    padding: 1%;
    margin: 0.6% 0.1%;
}

nav a:hover{
    color: var(--nav-highlight-color);
    background-color: var(--nav-accent-color);
    border-color: var(--nav-accent-color);
}

div#content-container{
    min-height: 80%;
}

div#content{
    padding: 1%;
}

div#footer-container{
    background-color: var(--footer-bg-color);
    color: var(--footer-fg-color);
    height: 10%;
}

#recipe-container{
    width: 98%;
    padding: 1%;
}

#ingredients{
    float: left;
    width: 40%;
}

#ingredients>ul{
    list-style: square;
}

#process{
    float: right;
    width: 50%;
}

input{
    margin: 1%;
    padding: 0.5em;
    border: 1px solid var(--content-accent-color);
    border-radius: 5px;
}

textarea{
    padding: 0.5em;
    margin: 0% 1%;
    border: 1px solid var(--content-accent-color);
    border-radius: 5px;
}

button{
    margin: 1%;
    background-color: var(--content-highlight-color);
    color: var(--content-bg-color);
    padding: 0.5em;

    border: 1px solid var(--content-highlight-color);
    border-radius: 5px;
}

footer{
    border-top: solid 1px var(--footer-fg-color);
    padding: 1%;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--footer-highlight-color);
}

footer a:hover{
    color: var(--footer-accent-color);
}
