/* containers.css defines the container layout and sizing */

html, body{
    height: 100vh;
}

div#nav-container{
    min-height: 10vh;
    position: fixed;
    top: 0px;
    width: 100%;
}

div#not-nav-container{
    padding-top: 10vh;
    min-height: 90vh;
}

div#content-container{
    min-height: 81vh;
}

footer{
    min-height: 5vh;
}
