/* containers.css defines the container layout and sizing */

html{
    height: 100%;
}

div#nav-container{
    min-height: 50px;
    position: fixed;
    width: 100%;
}

div#not-nav-container{
    margin-top: 50px;
    min-height: 89%;
}

/*
div#content-container{
    min-height: 89%;
}
*/

footer{
    min-height: 10%;
}
